<html>
  <head>
  </head>
  <body>
    <p>
      here is your access token to view private repos. add this token as the bearer token to each request: 
      <%= access_token %>
    </p>
  </body>
</html>