<html>
  <head>
  </head>
  <body>
    <p>
      Click the following link to allow this app access your private repos: 
      <a href="https://github.com/login/oauth/authorize?scope=repo&client_id=<%= client_id %>">Click here</a> to begin!
    </p>
  </body>
</html>